<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jessi.rjt_project_01">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AppController"
        android:theme="@style/AppTheme">


        activity
        <activity android:name=".ui.main.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>



        <!-- SIGNUP ACTIVITY-->
        <activity android:name=".ui.main.uisignup.View_SignUp">

        </activity>

        <!-- LOGIN ACTIVITY-->
        <activity android:name=".ui.main.uilogin.ViewLoginMainActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            ></activity>



        <!-- PRODUCT LIST ACTIVITY-->
        <activity android:name=".ui.main.uiproductlist.ViewMainActivityProductList">
        </activity>

        <!-- CATEGORIES ACTIVITY-->
        <activity android:name=".ui.main.uicategories.View_Categories"

            ></activity>

    </application>

</manifest>